* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.box_top {
  width: 100%;
  height: 840px;
  background-color: #ebf1f5;
  display: flex;
  position: relative;
}
.box_top ul {
  list-style-type: none;
  display: flex;
  padding: 20px 40px;
}
.box_top li {
  padding: 18px;
  color: #12212a;
  font-weight: lighter;
  transition: 0.5 ease all;
}
.box_top li:hover {
  color: #f5611c;
  cursor: pointer;
}
.box_top .logo {
  position: absolute;
  top: 10px;
  left: 600px;
}
.box_top .logo:hover {
  cursor: pointer;
}
.box_top .contact {
  height: 100px;
  position: absolute;
  right: 30px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_top .contact p {
  display: inline-block;
}
.box_top .contact p::before {
  position: absolute;
  top: 45px;
  right: 370px;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #4fa876;
}
.box_top .contact b {
  padding: 18px;
}
.box_top .contact b:hover {
  color: #f5611c;
  cursor: pointer;
}
.box_top .contact .phone {
  padding-left: 20px;
}
.box_top .bg {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0;
}
.box_top .pizza {
  position: absolute;
  top: 330px;
  left: 300px;
}
.box_top .line {
  position: absolute;
  top: 460px;
  right: 365px;
}
.box_top .box_plus {
  width: 30px;
  height: 30px;
  background-color: #fffdf9;
  border-radius: 50%;
  position: absolute;
  top: 520px;
  right: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box_top .box_plus .plus {
  width: 16px;
  height: 16px;
}
.box_top .box_plus:hover {
  opacity: 0.8;
}
.box_top .text {
  color: #363738;
  font-weight: lighter;
  text-align: end;
  position: absolute;
  top: 420px;
  right: 140px;
  font-size: 19px;
}
.box_top .text b {
  color: #f5611c;
}
.box_top .information {
  position: absolute;
  top: 200px;
  left: 350px;
  text-align: center;
}
.box_top .information strong {
  font-size: 2.5rem;
  color: #1f1e1c;
  line-height: 70px;
}
.box_top .information small {
  font-size: 20px;
  font-weight: lighter;
  color: #182026;
  line-height: 25px;
}

.box_bottom {
  width: 100%;
  height: 300px;
  text-align: center;
  position: relative;
}
.box_bottom h1 {
  font-size: 2.5rem;
  color: #1f1e1c;
  position: absolute;
  top: 80px;
  left: 500px;
}
.box_bottom button {
  width: 120px;
  height: 50px;
  border: none;
  border-radius: 24px;
  margin: 150px 5px 0 5px;
  color: #06070f;
  background-color: #e7ebf0;
  font-size: 17px;
  transition: 0.5 ease all;
}
.box_bottom button:hover {
  cursor: pointer;
}
.box_bottom .first {
  color: #fffffb;
  background-color: #4aa0ed;
}

.basket {
  display: flex;
  position: sticky;
  bottom: 10px;
  right: 0;
  align-items: center;
}
.basket .kv {
  width: 70px;
  height: 40px;
  background-color: #2d2d2c;
  border-radius: 8px;
  color: #fefee9;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.basket #triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 16px solid #2d2d2c;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 15px;
  left: 66px;
  display: flex;
}
.basket .box_basket {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fcfcfb;
  box-shadow: 1px 1px 10px #b6b6b6;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.basket .box_basket .two {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff5d1a;
  color: #fcf1dc;
  text-align: center;
  position: absolute;
  top: 30px;
  right: 0px;
}
.basket .box_basket:hover {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
